* {
    box-sizing: border-box;
}
.main {
	width: 1000px;
}
body {
    font-size: 16px;
    font-family: times, serif;
    background-color:#F8F2DA;
    color:#000;
}
    
p {
    margin-bottom: 16px;
}
h1 {
    font-size: 36px;
    color:#274256;
}
h2 {
    font-size: 24px;
    color: #1D803C;
}
p {
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 10px; 
}
img {
    border: 2px solid #000;
    padding-right: 10px;
    margin-right:30%;
    margin-left:10%;
    float:right;
    
}

header {
    width: 1000px;
    color: #f4e6c3;
    background-color: #286C6E;
    color: #f4e6c3; 
    height: 90px;
    background-image: url(../img/menubg.jpg);
	background-repeat:repeat-x;   
}
header h1 { 
    float:left;
    font-family: brush script mt, helvetica, san-serif;
    font-size:28px;
    font-weight:500;
}
header nav {
        float:left;
        margin-top:25px;
}
header a {
    color: #f4e6c3;
    text-decoration:none;
    margin-right:20px;
    margin-left:0px;
}

article {
    clear:both;
    padding: 0 10px 0 10px;
}
article h1  {
        font-size: 36px;
        line-height: 44px;
        margin-top: 5px;
    }
article h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 5px;
    }
aside {
        float:right;
        margin-right: 5%;
        width: 10%;
        margin-bottom: 10px;
    }
footer {
        margin-top: 10px;
        clear:both;
        padding: 0 10px 0 10px;
        font-size: 10px;
    }
#image1 {
	width: 250px;
	float: left;
	margin-top:50px;
	max-width:100%;
	}
	
#image1 img {
	width: 250px;
	float: left;	
	max-width:100%;
}
#image {
	width: 250px;
	
	float: left;
	margin-bottom:50px;
	max-width:100%;
	}
	
#image img {
	width: 250px;
	float: left;	
	max-width:100%;
}



.bottom {
	margin-top: 30px;
	background-image: url(../img/footer1.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width: 1000px;
	height: 70px;
	float: left;
}
#imag {
	
	float: left;
	margin-top:50px;
	max-width:100%;
	}
	
#imag img {
	
	float: left;	
	max-width:100%;
}
#imag2 {
		
	float: left;
	margin-bottom:50px;
	max-width:100%;
	}
	
#imag2 img {
	width: 500px;
	
	float: left;	
	max-width:100%;
}


.bottom ul li {
	display: inline;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000;
}
.bottom ul li a {
	list-style-type: none;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}
.bottom ul li a:hover {
	text-decoration: underline;
}
.bottom p {
	font-size: 12px;
	color:#000;
	
}


.contents {
	
	float:right;
	margin-top:50px;
	background-color:transparent;
	border:solid #666;
	padding:0px;
	border-width:1px
}

header ul {
	width: 1000px;
	height: 90px;
	list-style-type: none;
	
}
header ul li {
	height: 90px;
	float: left;
	padding-right: 12px;
	padding-left: 5px;
	margin-top:0px;
	

	
}
header ul li h1 {
  	float:left;
    font-family: brush script mt, helvetica, san-serif;
    font-size:36px;
    font-weight:500;
	background-color:transparent;
	margin-top:0px;
	padding-left:0px;
}
header ul li a {
	line-height: 37px;
	text-decoration: none;
	display: block;
	height: 37px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 20px;
}

header ul li a:hover {
	background-image: url(../img/menu-hov.jpg);
	background-repeat: repeat;
	background-position: left top;
}

#test { 
position=relative;

}
	
#pdf {
	width:700px;
	height:700px;
	margin-left: auto ;
  	margin-right: auto ;
	}	
     
@media screen and (max-width:600px) {
body {
    padding: 5%;
    }
    h1, h2 {
        text-align: center;
    }
    nav {
        clear: left;
        width: 100%;      
    }
    nav ul {
        list-style-type: none;
        padding-left: 0;
    }
    nav li {
        display: inline;
        margin-right:10px;
        text-align: center;
    }
#content {
        margin-left:0;
        width: 100%;
    }
}